{{ define "website/index.tmpl" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <p>index.tmpl in templates/website </p>
  {{ .title }}
  <ul>
    {{ range .valuesArr }}
    <li>{{ . }}</li>
    {{ end }}
  </ul>

  <ul>
    {{ range .values }}
    <li>{{ .I }} -> {{ .J }}</li>
    {{ end }}
  </ul>

  <ul>
    {{ range .valuesMap }}
    <li>{{ . }}</li>
    {{ end }}
  </ul>

  <ul>
  {{ range $key, $value := .valuesMap }}
    <li>{{ $key }} -> {{ $value }}</li>
  {{ end }}
  </ul>

  <ul>
    <li>Language: {{ .valuesMap.language }}</li>
    <li>Version: {{ .valuesMap.version }}</li>
  </ul>

    <div>
    The custom variables need to be prefixed with $.
    </div>
    {{ $address := "123 Main St." }}
    {{ $address }}
</body>
</html>

{{ end }}